# 默认文本文件均强制使用 LF 换行符
* text=auto eol=lf

# 排除二进制文件
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.exe binary
fn_build/fnpack* binary
fnpack.exe binary

# 强制 Windows 批处理脚本使用 CRLF 换行符以避免执行报错
*.cmd text eol=crlf
*.bat text eol=crlf
